.w\&h {
    width: 75.28px; 
    height: 97svh;
}

.rangoli-line {
    stroke: var(--rangoli-white);
    stroke-width: 3px;
}

.rangoli-curve {
    fill: none;
    stroke: var(--rangoli-white);
    stroke-width: 4px;
}

.rangoli-dot {
    fill: var(--rangoli-white);
    stroke: none;
}

.animation-rollup {
    animation: rollup 10s linear 0s infinite;
}

.animation-rolldown {
    animation: rolldown 10s linear 0s infinite;
}

@keyframes rolldown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes rollup {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}