<div id="joinRoomFormContainer">
    <form action="#" method="POST" id="joinRoomForm">
        <rangoli-line></rangoli-line>
        <h1>Join a Party</h1>
        <div class="form-item">
            <label for="username">Player Name</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-item">
            <label for="privatePartyKey">Private Party Key</label>
            <input type="text" name="privatePartyKey" id="privatePartyKey">
        </div>
        <input id="joinRoomFormSubmit" type="submit" value="Join">
        <rangoli-line></rangoli-line>
    </form>
</div>